.box-container {
    /* border: 1px solid orange; */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
}
.box-container:hover {
    box-shadow: rgb(158, 142, 90) 0px 0px 5px;
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.lg {
    width: 90%;
}

.box-container-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: orange;
}
/* 176 x 242 */

/* card */
.card {
    width: 17%;
    height: 290px;
    /* border: 1px rgb(138, 90, 0) solid; */
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 5px;
    cursor: pointer;
}
.card:hover {
    opacity: 0.8;
    /* background-color: rgb(51, 51, 51); */
    border-bottom: 1px solid orange;
    box-shadow: rgb(255, 174, 54) 0px 0px 5px;
}
.card-post {
    width: 160px;
    height: 220px;
    background-color: black;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 5px;
}

.card-title {
    align-self: center;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: orange;
    /* background-color: red; */
}