.box-container {
    border: 1px solid orange;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    /* background-color: white; */
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.lg {
    width: 90%;
}

.box-container-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: orange;
}
/* 176 x 242 */

/* card */
.card {
    width: 17%;
    height: 290px;
    border: 1px rgb(36, 36, 36) solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.card:hover {
    opacity: 0.8;
    /* background-color: rgb(51, 51, 51); */
    border-bottom: 1px solid orange;
    box-shadow: black 0px 0px 5px;
}
.card-post {
    width: 160px;
    height: 220px;
    background-color: black;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 5px;
}

.card-title {
    align-self: center;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: orange;
    /* background-color: red; */
}