.box-container {
    /* border: 1px solid orange; */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--wl-dark-blue);
}
.box-container:hover {
    box-shadow: var(--wl-blue) 0px 0px 5px;
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* opacity: 0.3; */
}

.lg {
    width: 90%;
}

.st {
    width: 33%;
    height: 200px;
}

.box-container-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    /* color: var(--wl-blue); */
    color: white;
}
/* 176 x 242 */

/* card */
.card {
    width: 17%;
    height: 290px;
    /* border: 1px rgb(138, 90, 0) solid; */
    /* background-color: rgb(29, 29, 48); */
    background-image: linear-gradient( black, #121536);
    /* border: 2px rgb(31, 31, 85) solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 5px;
    cursor: pointer;
}
.card:hover {
    opacity: 0.8;
    /* background-color: rgb(51, 51, 51); */
    border-bottom: 1px solid var(--wl-blue);
    box-shadow: var(--wl-blue) 0px 0px 5px;
}
.card-post {
    max-width: 160px;
    height: 220px;
    background-color: black;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 5px;
}

.card-title {
    align-self: center;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    color: white;
    /* background-color: red; */
}

/* login box */
.login-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
}

.send-media {
    height: auto;
}

.login-box-input {
    width: 90%;
    height: 40px;
    background-color: rgb(40, 40, 40);
    border-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
    align-self: center;
    color: white;
    padding-left: 10px;
}

.center-column-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-box-input:focus {
    border-bottom: 3px solid var(--wl-blue);
    outline: none;
}

.login-box-button {
    /* padding: 10px; */
    width: 100px;
    height: 40px;
    background-color: rgb(30, 30, 30);
    color: var(--wl-blue);
    border-style: none;
    border: 1px var(--wl-blue) solid;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-size: 18px;
}

.login-box-button:hover {
    box-shadow: var(--wl-dark-blue) 0px 0px 10px 5px;
}

/* end login box */

/* other */
.warning-box {
    align-self: center;
    border: 1px solid rgb(255, 75, 75);
}
/* end other */

/* title box */
.media-box {
    width: 60%;
    height: 450px;
    background-color: rgb(30, 30, 30);
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px var(--wl-dark-blue);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.media-box:hover {
    /* box-shadow: 0px 0px 10px 5px var(--wl-blue); */
}

.title-post {
    height: 240px;
    height: 330px;
}

.title-post:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 5px var(--wl-blue);
}

.title-text-box {
    width: 40%;
    height: 100%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    overflow: auto;
    text-align: justify;
    color: white;
}

.title-text-title {
    text-align: center;
}

.right-box {
    /* border: 1px solid red; */
    width: 29%;
    display: flex;
    flex-direction: column;
}

.score-box {
    background-color: var(--wl-blue);
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
}
.score-box-text {
    text-align: center;
    justify-self: center;
    align-self: center;
}

.score-box:hover {
    box-shadow: 0px 0px 10px 5px var(--wl-orange);
}

.title-info {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 10px;
}

.form-user-has-media {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.form-input-box {
    /* border: 1px solid yellow; */
    width: 96%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input-box input, .form-input-box select {
    width: 50px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(30, 30, 30);
    border-bottom: 2px solid var(--wl-blue);
    border-radius: 5px;
    border-style: none;
    color: white;
}

.form-input-box input::-webkit-outer-spin-button,
.form-input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input-box select {
    width: auto;
    height: 30px;
    /* font-size: 15px; */
}

.form-input-box input:focus, .form-input-box select:focus {
    outline: none;
}

.form-input-box div {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    /* display: inline-block; */
    /* border: 1px solid red; */
    background-color: var(--wl-green);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(30, 30, 30);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form-input-box div:hover {
    background-color: var(--wl-dark-green);
    color: white;
    box-shadow: 0px 0px 5px 1px white;
}

.btn {
    border-style: none;
    padding: 10px;
    /* margin-top: 20px; */
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 18px;
    border: 2px white solid;
    border-radius: 5px;
    cursor: pointer;
    /* width: 96%; */
    align-self: center;
}

.btn:hover {
    opacity: 0.7;
}

.btn-green {
    border: 2px var(--wl-green) solid;
    color: var(--wl-green);
}
/* end title box */

.box-alert {
    color: white;
    width: 300px;
    /* background-color: var(--wl-dark-blue); */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    border: var(--wl-dark-blue) solid 2px;
}

.input-file {
    padding: 10px;
    height: auto;
}

.color-white {
    color: white;
}
.bg-dblue {
    background-color: var(--wl-dark-blue);
}