:root {
    --wl-blue: #5271ff;
    --wl-dark-blue: #161a42;
    --wl-orange: #ff914d;
    --wl-green: rgb(131, 235, 136);
    --wl-dark-green: rgb(89, 163, 93);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, var(--wl-dark-blue));
}

.container {
    width: 90%;
    /* border: 2px solid red; */
}

.container-sm {
    width: 85%;
    border: 2px solid rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}